
:root {
  --text-color:     #322f2c;
  --meta-color:     var(--text-color);
  /*--bg-color:       #ccc8c0;*/
  --bg-color:       #d6d0c3;

  --gutter:         1rem;
  --margin:         12rem;

  --hover-off:      250ms cubic-bezier(0.1, 1.05, 0.15, 1.1);
  --hover-on:       250ms cubic-bezier(0.85, -0.1, 0.9, -0.05);
  --hover-off-100:  100ms cubic-bezier(0.1, 1.05, 0.15, 1.1);
  --hover-on-100:   100ms cubic-bezier(0.85, -0.1, 0.9, -0.05);

  --body-fs:        2.2rem;
  --body-lh:        2.8rem;

  --mono-fallback:  "input mono",
                    "roboto mono",
                    "source code pro",
                    Menlo,
                    monospace;

  --mono:           "menoe_grotesque_std_regularRg",
                    var(--mono-fallback);

  /*--sans-fallback:  "-apple-system",
                    BlinkMacSystemFont,
                    "helvetica neue",
                    "roboto",
                    helvetica,
                    arial,
                    sans-serif;

  --sans:           "coupeur carve",
                    "bluu next",
                    "bagnard",
                    "beirut trial",
                    "sangbleu king trial",
                    "riviera trial",
                    "Gerbera Light",
                    "Apercu",
                    var(--sans-fallback);*/

  --serif-fallback: "times new roman",
                    times,
                    serif;

  --serif:          georgia,
                    var(--serif-fallback);
}

@custom-media --w-320  screen and (width >= 320px);
@custom-media --w-480  screen and (width >= 480px);
@custom-media --w-640  screen and (width >= 640px);
@custom-media --w-800  screen and (width >= 800px);
@custom-media --w-960  screen and (width >= 960px);
@custom-media --w-1120 screen and (width >= 1120px);
@custom-media --w-1280 screen and (width >= 1280px);
@custom-media --w-1440 screen and (width >= 1440px);
@custom-media --w-1600 screen and (width >= 1600px);

@custom-media --w-l-800 screen and (width < 800px);

@custom-media --w-l-580 screen and (width < 580px);
@custom-media --wrapper screen and (width >= 580px) and (width < 800px);
