
body, h1, h6, .meta {
  font-size:        var(--body-fs);
  line-height:      var(--body-lh);
}

  h1 {
    font-family: var(--sans);
  }

  h6, .meta {
    font-family: var(--mono);
    /*color: var(--meta-color);*/
  }

  @media (--w-480) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 0.2rem);
      line-height: calc(var(--body-lh) + 0.2rem);
    }
  }

  @media (--w-640) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 0.4rem);
      line-height: calc(var(--body-lh) + 0.4rem);
    }

    h6, .meta {
      font-size:   calc(var(--body-fs) + 0.2rem);
      line-height: calc(var(--body-lh) + 0.2rem);
    }
  }

  @media (--w-800) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 0.6rem);
      line-height: calc(var(--body-lh) + 0.6rem);
    }
  }

  @media (--w-960) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 0.8rem);
      line-height: calc(var(--body-lh) + 0.8rem);
    }

    h6, .meta {
      font-size:   calc(var(--body-fs) + 0.4rem);
      line-height: calc(var(--body-lh) + 0.4rem);
    }
  }

  @media (--w-1120) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 1.0rem);
      line-height: calc(var(--body-lh) + 1.0rem);
    }
  }

  @media (--w-1280) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 1.2rem);
      line-height: calc(var(--body-lh) + 1.2rem);
    }

    h6, .meta {
      font-size:   calc(var(--body-fs) + 0.6rem);
      line-height: calc(var(--body-lh) + 0.6rem);
    }
  }

  @media (--w-1440) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 1.4rem);
      line-height: calc(var(--body-lh) + 1.4rem);
    }
  }

  @media (--w-1600) {
    body, h1 {
      font-size:   calc(var(--body-fs) + 1.6rem);
      line-height: calc(var(--body-lh) + 1.6rem);
    }

    h6, .meta {
      font-size:   calc(var(--body-fs) + 0.8rem);
      line-height: calc(var(--body-lh) + 0.8rem);
    }
  }
