
.list-flex {
  /* overwrite default ul/ol */
  list-style: none;

  /* make flexible/position responsive */
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;

  /* overwrite ul/ol in base.type */
  padding-left: 0;
}

.list-flex li + li {
  padding-top: 1em;
}

.list-flex li, .list-flex a {
  /* li: make list items flow horizontally */
  /* a:  contain block-level elements */
  display: inline-block;
}

.list-flex a {
  color: inherit;
}

@media (--w-640)    {
  .list-flex {
    flex-flow: row nowrap;
  }

  .list-flex li + li {
    padding-top: 0;
  }
}
