
.list-container {
  position: relative;
}

.site__nav, .fixed-nav {
  padding-top: calc(var(--gutter) * 4);
}

.site__nav {
  position: absolute;
  z-index: 1;
  padding-left: var(--gutter);
}

/* ADDED VIA JS */
.fixed-nav {
  position: fixed;
  top: 0;
}

  .nav-item {
    color: var(--meta-color);
    transition: ease-in-out 100ms;
  }

  /* ADDED VIA JS */
  .current {
    color: var(--text-color);
  }




.top-frag {
  width:  2em;
  height: 2em;
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: var(--gutter);
  margin-bottom: -2em;
  transition: margin-bottom var(--hover-on);
  transition: margin-bottom var(--hover-on-2);
  z-index: 1;
}

/* ADDED VIA JS */
.showing-frag {
  margin-bottom: calc(var(--gutter) * 4);
  transition: margin-bottom var(--hover-off);
  transition: margin-bottom var(--hover-off-2);
}

  .top-frag a {
    color: var(--text-color);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: box-shadow var(--simple-fade);
  }

    .top-frag a:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }
