
.site__border {
  /* puts behind lists */
  z-index: -1;
}

.top-right,
.bottom-left {
  width: 100vh;
  position: fixed;
  top: 0;
  /*z-index: 0;*/
}

.top-right {
  /*background-color: blue;*/
  transform-origin: top left;
  transform: rotate(90deg);
  margin-left: 100%;
  left: 0;
}

.bottom-left {
  /*background-color: orange;*/
  transform-origin: top right;
  transform: rotate(-90deg);
  margin-right: 100%;
  right: 0;
}

.site__left-side li,
.site__right-side li {
  display: inline-block;
}

.site__left-side ul,
.site__right-side ul {
  justify-content: space-around;
}


.margin {
  margin: calc(var(--margin) / 2);
  /*background-color: rgb(255, 224, 13);*/
}

  @media (--w-1280) {
    .margin {
      margin: var(--margin);
    }
  }
