
.list-title {
  display: block;
}

.list-content a {
  /* target area spans length of screen width */
  display: block;
  padding-top:    0.4em;
  padding-bottom: 0.4em;
  transition: var(--hover-off);
}

  /* new tab arrow */
  .list-content a::before {
    content: "↗";
    position: absolute;
    right:  0;
  }

@media (--w-l-800) {
  .list {
    flex-direction: column;
  }

    .list-title-shell {
      padding-left:  calc(var(--gutter) / 2);
      padding-right: calc(var(--gutter) / 2);
    }

    .list-title {
      padding-left: 2.5em;
    }

      .list-title::before {
        content: attr(data-size);
        position: absolute;
        left: 0;
        opacity: 0.5;
      }

    .list-content {
      padding-left: 2.5em;
    }

      .list-content li::before {
        content: "";
        height: 100%;
        position: absolute;
        left:     -1em;
        padding-top: var(--target-area);
      }

        .list-title,
        .list-content a {
          padding-top:    var(--target-area);
          padding-bottom: var(--target-area);
        }

        .list-title::after {
          content: "+";
          position: absolute;
          right: 0;
          transform: rotateZ(-45deg);
          transition: ease-in-out 100ms;
        }

  /* ADDED VIA JS */
  /*.selected .list-title-shell,*/
  .selected .list-content {
    background-color: var(--bg2-color);
  }
}

@media (--w-800) {
  .list-container {
    padding-top: var(--target-area);
  }

  /* separate lists */
  .list + .list {
    padding-top: calc(var(--gutter) * 8);
  }

    .list-title-shell {
      text-align: center;
    }

    .list-title {
      /*border: 2px solid var(--text-color);*/
      /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
      font-family: var(--sans);
      letter-spacing: 0.05em;
      display: inline-block;
      padding: var(--target-area);
      margin-bottom: 1em;
    }

    .list-content li {
      padding-left: 0;
      transition: var(--hover-off);
    }

      .list-content li:hover {
        background-color: var(--spot-color);
      }

      /* fix chrome issue */
      .list-content li::after {
        animation: initial;
      }

        .list-content a:hover {
          padding-left: 0.4em;
        }

          /* animate ↗ on hover */
          .list-content a:hover::before {
            animation: on-off 1s linear infinite;
          }

        .list-content a::after {
          content: attr(href);
          color: var(--meta-color);
          font-size: 0.6em;
          display: block;
          opacity: 0;
          transition: 250ms cubic-bezier(0.1, 1, 0.15, 1);
        }

          .list-content a:hover::after {
            /*transition-delay: 100ms;*/
            opacity: 1;
          }
}
