
main {}

  main a {
    text-transform: lowercase;
    font-family: var(--sans);
  }

    /*main a:visited {
      color: #888;
    }*/

    @media (--w-800) {
      main a:hover {
        color: blue;
      }

      main a:hover::after {
        content: "// " attr(data-url);
        /*content: attr(href);*/
        /*padding-left: 0.25em;*/
      }

      main a:hover::before {
        content: "";

        width: 100%;
        height: 5%;

        position: absolute;
        /*top: 0;*/
        /*right: 0;*/
        bottom: 0;
        left: 0;

        background-color: currentColor;
        /*transition: var(--hover-off);*/
      }
    }

.list-container {}

.wall-list {
  width: 1000%;
  list-style: none;

  /* separate list from heading on mobile */
  /*padding-top: 1em;*/

  /* overwrite base.type */
  padding-left: 0;
}

  .wall-list li + li {
    /*padding-top: 0.25em;*/
  }

  @media (--w-800) {
    .wall-list li + li {
      padding-top: 0;
    }
  }

/* Separate lists (heading & wall-list combos) */
.list-container + .list-container {
  padding-top: 2em;
}

.wall-heading {
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  width: 100%;
  color: var(--bg-color);
  text-shadow:
   -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
   -1px  1px 0 var(--text-color),
    1px  1px 0 var(--text-color);
}

@media (--w-800) {
  .wall-heading {
    text-shadow:
     -2px -2px 0 var(--text-color),
      2px -2px 0 var(--text-color),
     -2px  2px 0 var(--text-color),
      2px  2px 0 var(--text-color);
  }
}
