
.site__footer {
  color: var(--meta-color);
  padding-bottom: 0.25em;
}

.site__footer a::after {
  content: "↗";
}

@media (--w-l-800) {
  .footer-list, .footer-list li, .footer-list a {
    width: 100%;
  }

  .footer-list {
    flex-direction: column;
  }

  .site__footer li a {
    padding-top:    var(--target-area);
    padding-bottom: var(--target-area);
  }
}

@media (--w-800) {
  .site__footer li + li {
    padding-left: calc(var(--gutter) * 1.5);
  }

    .site__footer a {
      position: relative;
    }

    .site__footer a::after {
      position: absolute;
      top:    -1em;
      bottom: 0;
      right:  0;
    }

      .site__footer a:hover {
        color: var(--text-color);
        transition: ease-in-out 100ms;
      }

        .site__footer a:hover::after {
          animation: on-off 1s linear infinite;
        }
}

@media (--w-1120) {
  .site__footer li + li::before {
    content: "•";
    padding-right: calc(var(--gutter) * 1.5);
  }
}
