
main {
  padding-bottom: calc(var(--gutter) * 8);
  /*box-shadow: var(--shadow);*/
}

@media (--w-800) {
  main {
    margin-bottom: calc(var(--gutter) * 4);
    box-shadow: none;
  }
}

p + p {
  margin-top: var(--gutter);
}

/* add space between lists */
.list + .list {
  margin-top: calc(var(--gutter) * 4);
}

.list-content {
  white-space: nowrap;
}

  /* arrow indicating hyperlink */
  .list-content li::after {
    content: "↗";

    /*background-color: red;*/

    height: 100%;

    position: absolute;

    top:    0;
    right:  0;
    /*bottom: 0;*/
    /*left:     0;*/
  }

    .list-content a {
      /* target area spans length of screen width */
      display: block;
      /*background-color: red;*/
    }

  @media (--w-l-800) {
    .list .row + .row {
      /* overwrite display styling */
      margin-top: 0;
    }

    .list-content {
      border-top: 0.1rem solid currentColor;
      border-bottom: 0.1rem solid currentColor;
    }

      .list-content li + li {
        border-top: 0.1rem solid currentColor;
      }

        .list-content a, .list-title {
          padding-top: var(--gutter);
          padding-bottom: var(--gutter);
        }
  }

  @media (--w-800) {
    /* fix bug in chrome */
    .list-content li::after {
      animation: initial;
    }

    /* animate arrow on hover */
    .list-content li:hover::after {
      animation-name: on-off;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .list-content a::after {
      content: attr(data-size);

      text-align: right;
      min-width: 2em;
      /*background-color: red;*/

      position: absolute;

      /*top:    0;*/
      /*right:  0;*/
      /*bottom: 0;*/
      left:   0;

      transition: var(--hover-off-100);
      opacity: 0;
    }

      .list-content a:hover::after {
        left: -3em;
        transition: var(--hover-off-100);
        opacity: 1;
      }
  }
