
.site__header {
  color: var(--text-color);
  background-color: var(--spot-color);
}

  .header-bar {
    border-bottom: 2px solid var(--bg-color);
    padding-top:    0.25em;
    padding-bottom: 0.25em;
  }


  .other-content {
    color: rgb(36, 255, 0);
    padding-top:    2em;
    padding-bottom: 2em;
  }

    .other-content p {
      font-family: var(--sans);
      letter-spacing: 0.05em;
      font-size: 1.5em;
      line-height: 1;
    }

@media (--w-800) {
  .other-content p {
    font-size: 2em;
  }
}
