
.site__footer {
  position: fixed;

  /* no top */
  /* no top */

  /* center horizontally */
  right:  0;

  /* fix relative to bottom */
  bottom: 0;

  /* center horizontally */
  left:   0;

  z-index: 1;
}
