
/*.center {
  text-align: center;
}*/

.uppercase {
  text-transform: uppercase;
}

/*.lowercase {
  text-transform: lowercase;
}*/

.invert {
  color: var(--bg-color);
  background-color: var(--text-color);
}

/*.circle-button,*/ .diamond-button {
  text-align: center;
  display: block;

  border: 0.15rem solid currentColor;
}

/*.circle-button {
  line-height: 6.0rem;

  width:  6.6rem;
  height: 6.6rem;

  border-radius: 50%;
}*/

.diamond-button {
  line-height: 5.6rem;

  width:  6.0rem;
  height: 6.0rem;

  margin-left: 1rem;
}

  @media (--w-l-800) {
    /*.circle-button,*/ .diamond-button {
      font-size: 3.0rem;
    }
  }
