
.gutters {
  padding-right: calc(var(--gutter) / 2);
  padding-left:  calc(var(--gutter) / 2);
}

  @media (--w-800) {
    .gutters {
      padding-right: var(--gutter);
      padding-left:  var(--gutter);
    }
  }

  @media (--w-1600) {
    .gutters {
      padding-right: calc(var(--gutter) * 2);
      padding-left:  calc(var(--gutter) * 2);
    }
  }


.pt1 {
  padding-top: var(--gutter);
}

/*.pt2 {
  padding-top: calc(var(--gutter) * 2);
}*/

/*.pt4 {
  padding-top: calc(var(--gutter) * 4);
}*/

/*.pt8 {
  padding-top: calc(var(--gutter) * 8);
}*/

.pt16 {
  padding-top: calc(var(--gutter) * 16);
}


/*.mb1 {
  margin-bottom: var(--gutter);
}*/

/*.mb2 {
  margin-bottom: calc(var(--gutter) * 2);
}*/

.mb4 {
  margin-bottom: calc(var(--gutter) * 4);
}

/*.mb8 {
  margin-bottom: calc(var(--gutter) * 8);
}*/

/*.mb16 {
  margin-bottom: calc(var(--gutter) * 16);
}*/

/* adjust for less vertical space on mobile */
@media (--w-l-800) {
  /*.pt8 {
    padding-top: calc(var(--gutter) * 4);
  }*/

  .pt16 {
    padding-top: calc(var(--gutter) * 8);
  }

  /*.mb8 {
    margin-bottom: calc(var(--gutter) * 4);
  }*/

  /*.mb16 {
    margin-bottom: calc(var(--gutter) * 8);
  }*/
}


@media (--w-800) {
  .divider {
    border-top: 0.1rem solid currentColor;
    padding-top: var(--gutter);
  }
}
