
.list-flex {
  /* make flexible/position responsive */
  display: flex;
  flex-flow: row nowrap;

  /* edge to edge */
  justify-content: space-between;

  /* overwrite ul/ol defaults */
  padding-left: 0;
  list-style: none;
}

  .list-flex li, .list-flex a {
    /* li: flexbox fallback styling */
    /* a:  contain block-level elements */
    display: inline-block;
  }

  .list-flex a {
    color: inherit;
  }
