
.ph {
  padding-right: 0.5rem;
  padding-left:  0.5rem;
}

.pt {
  padding-top: 0.5em;
}

.mb {
  margin-bottom: 0.5em;
}

  @media (--w-480) {
    .ph {
      padding-right: 1rem;
      padding-left:  1rem;
    }

    .pt {
      padding-top: 1em;
    }

    .mb {
      margin-bottom: 1em;
    }
  }





.pt2 {
  padding-top: 2em;
}

.pt4 {
  padding-top: 4em;
}


.mb2 {
  margin-bottom: 2em;
}

.mb4 {
  margin-bottom: 4em;
}
