
.center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.invert {
  color: var(--bg-color);
  background-color: var(--text-color);
  padding-right: calc(var(--gutter) / 5);
  padding-left:  calc(var(--gutter) / 5);
}
