
@keyframes on-off {
   0%  {opacity: 1;}
  49%  {opacity: 1;}
  50%  {opacity: 0;}
  99%  {opacity: 0;}
}

.on-off {
  animation-name: on-off;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (--w-800) {
  .on-off:hover {
    animation: initial;
  }
}

@keyframes change-color {
   0%  {color: white;}
  20%  {color: orange;}
  40%  {color: red;}
  60%  {color: rgb(27, 145, 255);}
  80%  {color: rgb(49, 208, 2);}
 100%  {color: white;}
}

@keyframes change-bg-color {
   0%  {background-color: white;}
  20%  {background-color: orange;}
  40%  {background-color: red;}
  60%  {background-color: rgb(27, 145, 255);}
  80%  {background-color: rgb(49, 208, 2);}
 100%  {background-color: white;}
}

.change-color, .change-bg-color {
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.change-color {
  animation-name: change-color;
}

.change-bg-color {
  animation-name: change-bg-color;
}
