
.gutters {
  padding-left:  calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.pt8-16 {
  padding-top: calc(var(--gutter) * 8);
}

.mb8-16 {
  margin-bottom: calc(var(--gutter) * 8);
}

@media (--w-800) {
  /* adjust for less vertical space on mobile */
  .pt8-16 {
    padding-top: calc(var(--gutter) * 16);
  }

  .mb8-16 {
    margin-bottom: calc(var(--gutter) * 16);
  }
}
