
.ib {
  display: inline-block;
}

.row {
  vertical-align: top;

  /* act like row (displaying block by default) */
}

  @media (--w-l-800) {
    .row + .row {
      margin-top: calc(var(--gutter) * 4);
    }
  }

  @media (--w-800) {
    .row {
      /* fixed for two columns */
      width: 50%;

      /* act like column */
      display: inline-block;

      padding-right: var(--gutter);
    }

    .row + .row {
      padding-right: 0;
      padding-left:  var(--gutter);
    }
  }


/*.row {
  background: #eee;
}

.row + .row {
  background: #ddd;
}*/


@media (--w-l-800) {
  .over-800 {
    display: none;
  }
}

@media (--w-800) {
  .under-800 {
    display: none;
  }
}

/* added by js */
.hiding {
  display: none;
}
