
.ib {
  display: inline-block;
}

.w50 {
  width: 50%;
  vertical-align: top;
}

@media (--w-800) {
  .w50-desktop {
    width: 50%;
    vertical-align: top;
  }
}


@media (--w-l-800) {
  .over-800, .desktop {
    display: none;
  }


  /*.height0 {
    height: 0 !important;
    overflow-y: hidden;
  }*/

  .hiding_list .list-title::after {
    transform: rotateZ(0deg);
  }

  .hiding_list .list-content {
    display: none;
  }
}

@media (--w-800) {
  .under-800, .mobile {
    display: none;
  }
}
