---
layout: cover
---

<!-- {% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
    {% increment lists_total %}
  {% for item in list-items %}
    {% increment list_items_total %}
  {% endfor %}
{% endfor %} -->
<ul class="no-bullets list-flex">
   <li class="row">{{ lists_total }}</li><!--
--><li class="row">{{ list_items_total }}</li>
</ul>






<div class="parent-container">
  {% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  <section class="list divider parent">
    <ul class="no-bullets row" id="{{ list[1].heading }}">




      {% for item in list-items %}
      <li class="over-800">
        {{ list[1].heading }}
        {% if forloop.index0 == 0 %}
        <a href="#{{ list[1].heading }}" class="frag">#</a>
        {% endif %}
      </li>
      {% endfor %}


      <li class="under-800 list-title button"
          onclick='toggleMainList({{ forloop.index0 }}, {{ list-items | size }})'>
        <ul class="no-bullets list-flex">
          <li>{{ list[1].heading }}—{{ list-items | size }}</li><!--
       --><li><span class="main-list-icon"></span></li>
        </ul>
      </li>




    </ul><!--
 --><div class="row main-list-content-container">
      <ul class="no-bullets list-content main-list-content child-container">




        {% for item in list-items %}
        <li>
          <a href="{{ item.href | prepend: 'http://' }}" target="_blank" data-size="{{ forloop.index }}"><!--
         --><span>{{ item.name | downcase }}</span><!--
       --></a>
        </li>
        {% endfor %}




      </ul>
    </div>
  </section>
  {% endfor %}
</div>


<script type="text/javascript">
  {% asset 'main.js' %}
</script>
