---
layout: cover
---

<!-- {% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
    {% increment lists_total %}
  {% for item in list-items %}
    {% increment list_items_total %}
  {% endfor %}
{% endfor %} -->
<ul class="list-flex">
   <li class="row">{{ lists_total }}</li><!--
--><li class="row">{{ list_items_total }}</li>
</ul>






<div class="parent-container">
  {% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  <section class="list parent">
    <ul class="row" id="{{ list[1].heading }}">



      <li class="over-800">
        <ul class="list-heading divider">
          {% for item in list-items %}
          <li><!--
         -->{{ list[1].heading }}<!--
            {% if forloop.index0 == 0 %}
         --><a href="#{{ list[1].heading }}" class="frag">#</a><!--
         --><a href="#top" class="frag">↑</a><!--
            {% endif %}
       --></li>
          {% endfor %}
        </ul>
      </li>


      <li class="under-800">
        <ul class="list-heading list-flex btn"
            onclick='toggleMainList({{ forloop.index0 }},
                                    {{ list-items | size }})'>
          <li>
            {{ list[1].heading }}—{{ list-items | size }}
          </li><!--
       --><li class="main-list-icon"></li>
        </ul>
      </li>



    </ul><!--
 --><div class="row main-container">
      <ul class="list-content main-list-content child-container no-wrap">




        {% for item in list-items %}
        <li>
          <a href="{{ item.href }}" target="_blank" data-pos="{{ forloop.index }}">
            {{ item.name | downcase }}
          </a>
        </li>
        {% endfor %}




      </ul>
    </div>
  </section>
  {% endfor %}
</div>


<script type="text/javascript">
  {% asset 'main.js' %}
</script>
