
body, h6, .meta {
  font-size:   var(--fs);
  line-height: var(--lh);
}

h1 {
  font-size:   calc( var(--fs) + 0.625rem ); /* 32px */
  line-height: calc( var(--lh) + 0.625rem ); /* 36px */
}

.gutters {
  padding-left:  var(--gutter);
  padding-right: var(--gutter);
}

@media (--w-20) {
  body {
    font-size:   calc( var(--fs) + 1 * ((100vw - 20rem) / 80) );
    line-height: calc( var(--lh) + 1 * ((100vw - 20rem) / 80) );
  }

  h1 {
    font-size:   calc( var(--fs) + 0.625rem + 3 * ((100vw - 20rem) / 80));
    line-height: calc( var(--lh) + 0.625rem + 3 * ((100vw - 20rem) / 80));
  }

  h6, .meta {
    font-size:   calc( var(--fs) + 0.5 * ((100vw - 20rem) / 80) );
    line-height: calc( var(--lh) + 0.5 * ((100vw - 20rem) / 80) );
  }

  .gutters {
    padding-left:  calc( var(--gutter) + 1 * ((100vw - 20rem) / 80) );
    padding-right: calc( var(--gutter) + 1 * ((100vw - 20rem) / 80) );
  }
}

@media (--w-100) {
  body {
    font-size:   calc( var(--fs) + 1rem ); /* 38px */
    line-height: calc( var(--lh) + 1rem ); /* 42px */
  }

  h1 {
    font-size:   calc( var(--fs) + 3.625rem ); /* 80px */
    line-height: calc( var(--lh) + 3.625rem ); /* 84px */
  }

  h6, .meta {
    font-size:   calc( var(--fs) + 0.5rem ); /* 30px */
    line-height: calc( var(--lh) + 0.5rem ); /* 34px */
  }

  .gutters {
    padding-left:  calc( var(--gutter) + 1em );
    padding-right: calc( var(--gutter) + 1em );
  }
}
