
:root {
  --text-color:     rgb(90, 90, 90);
  --meta-color:     rgb(200, 200, 200);
  --spot-color:     blueViolet;
  --bg-color:       white;
  --bg2-color:      rgba(0, 0, 0, 0.1);
  --bg3-color:      rgba(0, 0, 0, 0.03);

  --list-color-1:   rgb(160, 90, 110); /* pink */
  --list-color-2:   rgb(170, 110, 70); /* orange */
  --list-color-3:   rgb(140, 120, 80); /* brown */
  --list-color-4:   rgb(100, 120, 80); /* olive */
  --list-color-5:   rgb(90, 90, 90);   /* black */

  --gutter:         1rem;
  --target-area:    0.8em;

  --hover-off:      350ms cubic-bezier(0.1, 1.05, 0.15, 1.1);
  --hover-on:       350ms cubic-bezier(0.85, -0.1, 0.9, -0.05);

  --hover-off-2:    350ms cubic-bezier(0.1, 1, 0.15, 1);
  --hover-on-2:     350ms cubic-bezier(0.85, 0, 0.9, 0);

  --simple-fade:    100ms ease-in-out;

  --body-fs:        2.2rem;
  --body-lh:        2.6rem;

  --sans-fallback:  BlinkMacSystemFont,
                    -apple-system,
                    "roboto",
                    arial,
                    sans-serif;

  --sans:           gt_walsheimregular,
                    var(--sans-fallback);
}

@custom-media --w-320  screen and (width >= 320px);
@custom-media --w-480  screen and (width >= 480px);
@custom-media --w-640  screen and (width >= 640px);
@custom-media --w-800  screen and (width >= 800px);
@custom-media --w-960  screen and (width >= 960px);
@custom-media --w-1120 screen and (width >= 1120px);
@custom-media --w-1280 screen and (width >= 1280px);
@custom-media --w-1440 screen and (width >= 1440px);
@custom-media --w-1600 screen and (width >= 1600px);

@custom-media --w-l-800 screen and (width < 800px);
