
:root {
  --text-color:     rgb(90, 90, 90);
  --meta-color:     rgb(200, 200, 200);
  --bg-color:       white;
  --bg2-color:      rgba(0, 0, 0, 0.1);
  --bg3-color:      rgba(0, 0, 0, 0.03);

  /* red, violet */
  --gradient-a:     red;
  --gradient-b:     #aa00ff;

  /*--hover-off-follow-thru: cubic-bezier(0.1, 1.05, 0.15, 1.1);*/
  /*--hover-on-follow-thru:  cubic-bezier(0.85, -0.1, 0.9, -0.05);*/
  --hover-off:      cubic-bezier(0.1, 1, 0.15, 1);
  --hover-on:       cubic-bezier(0.85, 0, 0.9, 0);
  --simple-fade:    ease-in-out;

  --fs:             1.375rem; /* 22px */
  --lh:             1.625rem; /* 26px */

  --gutter:         0.25em;
  --target-area:    0.8em;

  --sans-fallback:  BlinkMacSystemFont,
                    -apple-system,
                    "roboto",
                    arial,
                    sans-serif;

  --sans:           gt_walsheimregular,
                    var(--sans-fallback);
}

@custom-media --w-20  screen and (width >= 20rem);
@custom-media --w-50  screen and (width >= 50rem);
@custom-media --w-100 screen and (width >= 100rem);

@custom-media --w-l-50 screen and (width < 50rem);
