
<div class="site__border meta over-800 uppercase">

  <section class="fix-top gutters margin">
    <ul class="list-flex">
      <li>a</li><!--
   --><li>growing</li><!--
   --><li>library</li><!--
   --><li>of</li><!--
   --><li>internet</li>
    </ul>
  </section>

  <section class="site__right-side meta">
    <div class="top-right center">
      <ul class="no-bullets list-flex margin">
        <li>destinations</li>
      </ul>
    </div>
  </section>

  <section class="fix-bottom gutters margin">
    <ul class="list-flex rotate-z-180">
      <li>generally</li><!--
   --><li>associated</li><!--
   --><li>with</li><!--
   --><li>graphic</li>
    </ul>
  </section>

  <section class="site__left-side meta">
    <div class="bottom-left center">
      <ul class="no-bullets margin">
        <li>design.</li>
      </ul>
    </div>
  </section>

</div>
