
<div class="site__border meta hiding-below-800">

  <section class="fix-top">
    <ul class="list-flex gutters pt">
      <li>a</li><!--
   --><li>growing</li><!--
   --><li>personal</li><!--
   --><li>collection</li>
    </ul>
  </section>

  <section class="site__right-side meta gutters">
    <div class="top-right center">
      <ul class="no-bullets list-flex">
        <li>of</li><!--
     --><li>links</li>
      </ul>
    </div>
  </section>

  <section class="fix-bottom gutters mb">
    <ul class="list-flex rotate-z-180">
      <li>generally</li><!--
   --><li>related</li><!--
   --><li>to</li><!--
   --><li>graphic</li>
    </ul>
  </section>

  <section class="site__left-side meta gutters">
    <div class="bottom-left center">
      <ul class="no-bullets">
        <li>design</li>
      </ul>
    </div>
  </section>

</div>
