
<footer class="site__footer meta">

    {% for list in site.data.footer %}<!--
 --><ul class="col list-flex"><!--
      {% for item in list[1] %}
   --><li><!--
     --><a href="{{ item.href }}" target="_blank"><!--
          {% if item.br %}
       --><span class="under-800">{{ item.br }}</span><!--
       --><span class="over-800">{{ item.key }}</span><!--
          {% else %}
         -->{{ item.key }}<!--
          {% endif %}
     --></a><!--
   --></li><!--
      {% endfor %}
 --></ul><!--
 -->{% endfor %}


</footer>
