
<footer class="site__footer meta gutters fixed-footer">

  <ul class="flex-x tabular">
    <li>
      <span class="uppercase">{{ site.version }}</span>
    </li>

    <li>
      <div>Sponsored by</div>
      <div class="sponsor_msg">
        <a href="mailto:buttface@jackf.me?subject=silly.graphics—Sponsoring&body=Hi, I am interested in sponsoring the site and would like more details.">Your Name Here!</a>
      </div>

      <div class="updated uppercase">↑{{ "now" | date: "%-d %b %Y" }}</div>
    </li>
  </ul>

</footer>


<div class="screensaver desktop hidden">
  <h1 class="screensaver-content tabular uppercase"></h1>
</div>
