
<footer class="site__footer meta gutters">
  <div class="list">

    <ul class="no-bullets row contact">

      <li>
        <a href="mailto:buttface@jackf.me" target="_blank">
          Email<span class="hiding-below-800"> → buttface@jackf.me</span>
        </a>
      </li>

      <li>
        <a href="//twitter.com/jckfa" target="_blank">
          Twitter<span class="hiding-below-800"> → @jckfa</span>
        </a>
      </li>

    </ul><!--

 --><ul class="no-bullets row colophon">

      <li>
        <a href="//jackf.me" target="_blank">
          Author<span class="hiding-below-800"> → Jack Halten Fahnestock</span>
        </a>
      </li>

      <li>
        <a href="//github.com/jckfa/sillygraphics" target="_blank">
          Code<span class="hiding-below-800"> → GitHub</span>
        </a>
      </li>

      <li>
        <a href="//en.wikipedia.org/wiki/ISC_license" target="_blank">
          License<span class="hiding-below-800"> → ISC</span>
        </a>
      </li>

      <li>
        <a href="//hungarumlaut.com/typefaces/menoe.html" target="_blank">
          Font<span class="hiding-below-800"> → Menoe Grotesque</span>
        </a>
      </li>

      <li>
        <a href="//www.colorpicker.com/ccc8c0" target="_blank">
          Page Color<span class="hiding-below-800"> → #ccc8c0</span>
        </a>
      </li>

    </ul>

  </div>
</footer>

{% include scripts.html %}
