
<head>
  <title>
    {% if page.title %}
      {{ site.name | downcase }} | {{ page.title | downcase }}
    {% else %}
      {{ site.name | downcase }}
    {% endif %}
  </title>
  <meta charset="utf-8">

  <style>
    {% asset "style" %}
  </style>

  <script>
    {% asset "fonts" %}
  </script>


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

  <meta name="description" content="{{ site.description.full }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
