
<header class="site__header meta flex-x gutters">


    <ul class="w50">
      <li class="desktop">
        ↑{{ site.time | date: "%b %-d %H:%M %Y %Z" }}
      </li>

      <li class="mobile">
        <span>↑{{ site.time | date: "%b %-d" }}</span><br>
        <div class="flex-x">
          <span class="ib transparent">0</span>
          <span class="ib">{{ site.time | date: "%Y %Z" }}</span>
        </div>
      </li>

      <li>
        <span class="lowercase">v</span>{{ site.version }}
      </li>
    </ul>

    <ul class="w50">
      <li class="wrap-26">
        {{ site.description.br }}
      </li>
    </ul>


    <!-- <ul class="index flex-y flex-jus desktop">

      <li>
        <a href="#top">↑↑↑</a>
      </li>

      {% for list in site.data.lists %}
      <li>
        <a href="#{{ list[1].heading }}">
          {{ list[1].heading | truncate: 3, "" }}
        </a>
      </li>
      {% endfor %}

      <li>
        <a href="#bottom">↓↓↓</a>
      </li>

    </ul> -->


</header>
