
<header class="site__header meta pt4">
  <div class="fix-top">

    <div class="site-description-container hiding-above-800 button gutters" onclick="toggleDescription()">
      <ul class="no-bullets list-flex">
        <li>info</li>
        <li>+</li>
      </ul>
      <div class="site-description">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <ul class="list-flex hiding-below-800 gutters pt">
      <li>a</li>
      <li>growing</li>
      <li>personal</li>
      <li>collection</li>
    </ul>

  </div>
</header>
