
<header class="site__header meta gutters" id="top">

  <div class="header-bar flex-x">
    <ul class="w50">
      <li class="uppercase site__name">
        <!-- <span class="desktop">
          ↑{{ site.time | date: "%b %-d %-I:%M%p %Y %Z" }}
        </span>

        <span class="mobile">
          ↑{{ site.time | date: "%-m/%-d/%y" }}
        </span> -->

        <span class="lowercase">
          {{ site.name }}
        </span>
      </li>

      <!-- <li>
        v{{ site.version }}
      </li> -->
    </ul>

    <ul class="w50">
      <li class="wrap-26">
        {{ site.description.alt }}
      </li>
    </ul>
  </div>

  <div class="other-content gutters center">
    <p class="lime">Submissions: @jckfa</p>
  </div>

</header>
