
<section class="site__left-side meta gutters hide-l-800">
  <div class="bottom-left center caps">
    <ul class="no-bullets">
      <li>s</li><!--
   --><li>i</li><!--
   --><li>l</li><!--
   --><li>l</li><!--
   --><li>y</li>
    </ul>
  </div>
</section>


<section class="site__right-side meta gutters hide-l-800">
  <div class="top-right center caps">
    <ul class="no-bullets">
      <li>g</li><!--
   --><li>r</li><!--
   --><li>a</li><!--
   --><li>p</li><!--
   --><li>h</li><!--
   --><li>i</li><!--
   --><li>c</li><!--
   --><li>s</li>
    </ul>
  </div>
</section>
