
/*@keyframes on-off {
    0% {opacity: 1;}
   49% {opacity: 1;}
   50% {opacity: 0;}
  100% {opacity: 0;}
}

.on-off {
  animation: on-off 1s linear infinite;
}

@media (--w-50) {
  .on-off:hover {
    animation: initial;
  }
}*/


/*@keyframes shooting-star {
  0% {
    width: 0;
    right: initial;
    left: 0;
  }

  49% {
    width: 100%;
    right: initial;
    left: 0;
  }

  50% {
    width: 100%;
    right: 0;
    left: initial;
  }

  100% {
    width: 0;
    right: 0;
    left: initial;
  }
}*/


/*@keyframes shift-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}*/

@keyframes new-tag {
    0% {color: rgba(255, 255, 255, 0.5);}
   50% {color: white;}
  100% {color: rgba(255, 255, 255, 0.5);}
}
