
@keyframes on-off {
   0%  {opacity: 1;}
  49%  {opacity: 1;}
  50%  {opacity: 0;}
  99%  {opacity: 0;}
}

.on-off {
  animation: on-off 1s linear infinite;
}

@media (--w-800) {
  .on-off:hover {
    animation: initial;
  }
}
