
.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.case {
  font-feature-settings: "case" 1;
}

.invert {
  color: var(--bg-color);
  background-color: var(--accent);
}

.tabular {
  font-variant-numeric: tabular-nums;
}
