---
layout: page
title: Index
permalink: /
order: 0
---

{% assign lists = site.data.lists %}
{% include front/nav.html %}

{% for list in lists %}
{% assign items = list[1].items | uniq | sort: "n" %}
<section class="list">

  <h6 class="list-title no-wrap"
      onclick='toggle_list({{ forloop.index0 }})'
      id='{{ list[1].title | downcase | replace: " ", "-" }}'>
    <div class="shell">
      <span data-size='{{ items | size }}'>
        {{ list[1].title }}
      </span>
    </div>
  </h6>

  <div class="list-items-shell">
    <ul class="list-items uppercase">
      {% for item in items %}
      <li>
        <a href='{{ item.h }}' target="_blank">
          <div class="shell">
            {{ item.n | downcase }}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</section>
{% endfor %}


<!--
{% for list in lists %}
  {% assign items = list[1].items | uniq %}
  {% for item in items %}
    {% increment count %}
  {% endfor %}
{% endfor %}
-->

<div class="count meta desktop uppercase tabular">
  {{ count }}
</div>
