---
layout: default
permalink: /
---


{% assign lists = site.data.lists %}
<!--
{% for list in lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  {% increment lists_total %}
  {% for item in list-items %}
    {% increment list_items_total %}
  {% endfor %}
{% endfor %}
-->
<!-- <ul class="flex-x flex-jus meta totals center">
  <li class="w50-desktop">{{ lists_total }}</li>
  <li class="w50-desktop">{{ list_items_total }}</li>
</ul> -->


<div class="list-container">

  {% include nav.html %}

  {% for list in lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  <section class="list flex-x flex-jus">

    <ul class="w50-desktop"></ul>

    <div class="w50-desktop content-shell"
         id='{{ list[1].heading | downcase | replace: " ", "-" }}'>


      <div class="list-title meta no-wrap"
           onclick='toggle_list({{ forloop.index0 }})'>
        <div class="shell">
          {{ list[1].heading }}<span
          class="list-size">—{{ list-items | size }}</span>
        </div>
      </div>


      <ul class="list-content uppercase no-wrap">
        {% for item in list-items %}
        <li>
          <a href='{{ item.href }}' target="_blank">
            <div class="shell">
              {{ item.name | downcase }}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>


    </div>
  </section>
  {% endfor %}
</div>


<div class="top-frag desktop">
  <a href="#top">↑</a>
</div>

<script type="text/javascript">
  {% asset 'main.js' %}
</script>
