---
layout: default
permalink: /
---


<!--
{% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  {% increment lists_total %}
  {% for item in list-items %}
    {% increment list_items_total %}
  {% endfor %}
{% endfor %}
-->
<!-- <ul class="flex-x flex-jus meta totals center">
  <li class="w50-desktop">{{ lists_total }}</li>
  <li class="w50-desktop">{{ list_items_total }}</li>
</ul> -->






<div class="list-container">

  <nav class="site__nav w50 desktop">
    <ul>
      {% for list in site.data.lists %}
      {% assign list-items = list[1].list-items | uniq | sort: "name" %}
      <li class="nav-item">
        <a href='#{{ list[1].heading | downcase }}'>
          {{ list[1].heading }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  {% for list in site.data.lists %}
  {% assign list-items = list[1].list-items | uniq | sort: "name" %}
  <section class="list flex-x flex-jus">

    <ul class="w50-desktop">
    </ul>

    <div class="w50-desktop content-shell">

      <div class="list-title-shell">
        <a href='#{{ list[1].heading | downcase }}'
           class="list-title btn"
           id='{{ list[1].heading | downcase | replace: " ", "-" }}'
           onclick='toggle_list({{ forloop.index0 }})'
           data-size='{{ list-items | size }}'>
          {{ list[1].heading }}
        </a>
      </div>

      <ul class="list-content no-wrap">


        {% for item in list-items %}
        <li class="gutters">
          <a href="{{ item.href }}" target="_blank">
            {{ item.name | downcase }}
          </a>
        </li>
        {% endfor %}


      </ul>
    </div>
  </section>
  {% endfor %}
</div>


<script type="text/javascript">
  {% asset 'main.js' %}
</script>
