---
layout: page
title: Info
permalink: info/
order: 1
---

<div class="about">
  <div class="p-wrap">
    {% markdown description.md %}
  </div>
</div>


<div class="flex-x col-shell">

  <div class="col">
    <section class="contact">
      <h6>Contact</h6>
      <ul>
        <li data-method="E">
          <a href="mailto:buttface@jackf.me" target="_blank">
            buttface@jackf.me
          </a>
          <br>
          <a href="/static/key.asc" target="_blank">
            PGP public key
          </a>
        </li>

        <li data-method="T">
          <a href="https://twitter.com/jckfa" target="_blank">
            @jckfa
          </a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col">
    <section>
      <h6>Colophon</h6>
      <ul>
        {% for item in site.data.colophon.items %}
        <li>
          {% if item.href %}
          {{ item.plaintext | append: " " }}
          <a href='{{ item.href }}' target="_blank">
            {{ item.linktext }}
          </a>
          {% else %}
          {{ item.plaintext }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>

</div>
