
.about {
  padding-top: calc(var(--gutter) * 4);
}

.col-shell {
  color: var(--meta-color);
}

  .col-shell a {
    display: inline-block;
    position: relative;
    transition: color 100ms var(--simple-fade);
  }

    .col-shell a::after {
      content: "";
      width: 100%;
      height: 0.075em;
      min-height: 2px;
      background-color: var(--bg2-color);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

.col-shell,
.col-shell section + section {
  margin-top: 1em;
}

  .col {
    width: 100%;
  }

    .col-shell h6 {
      border-bottom: 2px solid var(--bg2-color);
      padding-bottom: calc(var(--target-area) / 2);
      margin-bottom: var(--target-area);
    }

    .col-shell section p + p {
      margin-top: 1em;
    }

    .contact li {
      position: relative;
      padding-left: 1.5em;
    }

      .contact li::before {
        content: attr(data-method);
        position: absolute;
        top: 0;
        left: 0;
      }

  @media (--w-l-50) {
    .col-shell section li + li {
      margin-top: 0.5em;
    }

    .col-shell {
      flex-direction: column;
    }

      .col + .col {
        margin-top: 1em;
      }

      .col-shell a,
      .contact li::before {
        padding-top:    calc(var(--target-area) / 4);
        padding-bottom: calc(var(--target-area) / 4);
      }
  }

  @media (--w-50) {
    .col-shell a:hover {
      color: var(--text-color);
    }

      .col-shell a:hover::after {
        background-color: currentColor;
      }
  }
