
.about {
  font-size: 1.2em;
  line-height: 1.1;
  padding-top: calc(var(--gutter) * 4);
}

  .about p + p {
    padding-top: 1em;
  }

  .about a,
  .col-shell a {
    display: inline-block;
    position: relative;
  }

    .about a::before,
    .about a::after,
    .col-shell a::before,
    .col-shell a::after {
      content: "";
      width: 100%;
      height: 5%;
      min-height: 2px;
      background-color: var(--bg2-color);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .about a::after,
    .col-shell a::after {
      animation: initial;
      transition: background-color var(--simple-fade);
    }

.col-shell,
.col-shell section + section {
  margin-top: 1em;
}

  .col {
    width: 100%;
  }

    .col-shell h6 {
      color: var(--meta-color);
      border-bottom: 2px solid var(--bg2-color);
      padding-bottom: calc(var(--target-area) / 2);
      margin-bottom: var(--target-area);
    }

    .col-shell section p + p {
      margin-top: 1em;
    }

    .contact li {
      position: relative;
      padding-left: 1.5em;
    }

      .contact li::before {
        content: attr(data-method);
        position: absolute;
        top: 0;
        left: 0;
      }

  @media (--w-l-800) {
    .col-shell section li + li {
      margin-top: 0.5em;
    }

    .col-shell {
      flex-direction: column;
    }

      .col + .col {
        margin-top: 1em;
      }

      .col-shell a,
      .contact li::before {
        padding-top:    calc(var(--target-area) / 4);
        padding-bottom: calc(var(--target-area) / 4);
      }
  }

  @media (--w-800) {
    .about {
      font-size: 1.6em;
      line-height: 1.1;
    }

      .about a:hover::after,
      .col-shell a:hover::after {
        background-color: currentColor;
      }
  }

  @media (--w-1120) {
    .about {
      font-size: 2.0em;
    }
  }
