
.site__footer {
  color: var(--meta-color);
  padding-bottom: var(--target-area);
}

  @media (--w-l-800) {
    .site__footer ul {
      justify-content: space-around;
    }
  }

  @media (--w-800) {
    .site__footer li {
      width: 100%;
    }
  }
