
.site__header {
  color: var(--level1);
  /* cover to-top button */
  background-color: var(--bg-color);
  /* place over list-nav */
  position: relative;
  z-index: 2;
}

  .primary__nav {
    border-bottom: 2px solid currentColor;
  }

    .primary__nav li {
      width: 100%;
    }

      .primary__nav a {
        display: block;
        padding-top:    var(--target-area);
        padding-bottom: var(--target-area);
        position: relative;
        transition: color 100ms var(--simple-fade);
      }

        .primary__nav a::after {
          height: 2px;
          background-color: transparent;
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
        }

        .primary__nav a.active {
          color: var(--accent);
        }

          .primary__nav a.active::after {
            background-color: currentColor;
          }

    @media (--w-50) {
      .primary__nav li {
        max-width: 25%;
      }

      .primary__nav a:hover {
        color: var(--accent);
      }

      .primary__nav a:hover::after {
        background-color: currentColor;
      }
    }

.new {
  position: relative;
}

  .new::before {
    content: "NEW";
    font-size: 0.75rem;
    line-height: 1;
    color: var(--bg-color);
    background-color: #444;
    padding: 0.25em 0.275em 0.2em 0.3em;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 100%;
    animation: new-tag 3s var(--simple-fade) infinite;
  }
