
.site__header {
  color: var(--meta-color);
  background-color: var(--bg-color);
  /* place over list-nav */
  position: relative;
  z-index: 2;
}

  .primary__nav, .other-content {
    border-bottom: 2px solid var(--bg2-color);
  }

    .primary__nav li {
      width: 100%;
    }

      .active {
        color: var(--text-color);
      }

      .primary__nav a {
        display: block;
        padding-top:    var(--target-area);
        padding-bottom: var(--target-area);
        position: relative;
        transition: color var(--simple-fade);
      }

        .primary__nav a::after {
          width: 0;
          height: 2px;
          background-color: currentColor;
          background: linear-gradient(
            to right,
            var(--gradient-a) 0%,
            var(--gradient-b) 50%,
            var(--gradient-a) 100%
          );
          background-size: 200% 100%;
          animation: shift-gradient 10s linear infinite;
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          transition: width 1000ms cubic-bezier(0.1, 1, 0.15, 1);
        }

    @media (--w-l-800) {
      .primary__nav a.active::after {
        width: 100%;
      }
    }

    @media (--w-800) {
      .primary__nav li {
        max-width: 25%;
      }

      .primary__nav a:hover {
        color: var(--text-color);
      }

      .primary__nav a:hover::after {
        width: 100%;
      }
    }
