
.site__header {
  color: var(--meta-color);
  background-color: var(--bg-color);
}

  .main__nav, .other-content {
    border-bottom: 2px solid var(--bg2-color);
  }

    .main__nav li {
      width: 100%;
    }

      .active {
        color: var(--text-color);
      }

      .main__nav a {
        display: block;
        padding-top:    var(--target-area);
        padding-bottom: var(--target-area);
        position: relative;
        transition: color var(--simple-fade);
      }

        .main__nav a::after {
          width: 0;
          height: 2px;
          background-color: currentColor;
          background: linear-gradient(
            to right,
            red     0%,
            #aa00ff 100%
          );
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          transition: width 1000ms cubic-bezier(0.1, 1, 0.15, 1);
        }

        .main__nav a.active::after {
          width: 100%;
        }

        @media (--w-800) {
          .main__nav li {
            max-width: 25%;
          }

          .main__nav a:hover {
            color: var(--text-color);
          }

            .main__nav a:hover::after {
              background: linear-gradient(
                to right,
                transparent  0%,
                currentColor 100%
              );
            }

            .main__nav a:hover::after {
              animation: goo2 1000ms ease-in-out infinite;
            }

            .main__nav a.active:hover::after {
              background: linear-gradient(
                to right,
                red     0%,
                #aa00ff 100%
              );
              animation: none;
            }
        }


.lime {
  color: lime;
  position: fixed;
  top:   0;
  right: 0;
  z-index: 10;
  padding-top: var(--target-area);
}
