
main {
  /* anchor list-nav */
  position: relative;
}

.list__nav, .fixed-nav {
  padding-top: calc(var(--gutter) * 4);
}

.list__nav {
  position: absolute;
  z-index: 1;
  padding-left: var(--gutter);
  line-height: 1.1em;
}

/* ADDED VIA JS */
.fixed-nav {
  position: fixed;
  top: 0;
}

  .nav-item {
    color: var(--meta-color);
    transition: ease-in-out 100ms;
  }

    .nav-item a {
      display: inline-block;
    }

  /* ADDED VIA JS */
  .current {
    color: var(--text-color);
  }




.top-frag {
  width:  2em;
  height: 2em;
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: -2em;
  margin-bottom: calc(var(--gutter) * 8);
  transition: margin-left var(--hover-on);
  z-index: 1;
}

/* ADDED VIA JS */
.showing-frag {
  margin-left: var(--gutter);
  transition: margin-left var(--hover-off);
}

  .top-frag a {
    color: var(--meta-color);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: box-shadow var(--simple-fade),
                color      var(--simple-fade);
  }

    .top-frag a:hover {
      color: var(--text-color);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
