
.list {
  color: var(--meta-color);
}

  .shell {
    position: relative;
  }

  .list-title span::after {
    font-variant-numeric: tabular-nums;
    content: attr(data-size);
    position: absolute;
    right: 2em;
  }

  .list-items-shell {
    overflow: hidden;
    transition: height 250ms ease-in-out;
  }

    .list-items a {
      display: block;
    }

@media (--w-l-800) {
  .list-title,
  .list-items a {
    padding: var(--target-area) calc(var(--gutter) / 2);
    /* animate .selected */
    transition: color 250ms ease-in-out;
  }

  .list-title {
    cursor: pointer;
  }

    .list-title .shell::before,
    .list-title .shell::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: currentColor;
      transform: rotateZ(0);
      transition: transform 500ms cubic-bezier(0.1, 1, 0.15, 1);
    }

    /* y */
    .list-title .shell::before {
      height: 1em;
      width: 2px;
      top: 0;
      right: calc(0.5em - 1px);
    }

    /* x */
    .list-title .shell::after {
      height: 2px;
      width: 1em;
      top: calc(0.5em - 1px);
      right: 0;
    }

    /* ADDED VIA JS // MOBILE */
    .selected .list-title,
    .selected .list-items {
      color: var(--text-color);
    }

    /* ADDED VIA JS */
    .selected .shell::before,
    .selected .shell::after {
      transform: rotateZ(45deg);
    }
}

@media (--w-800) {
  .list {
    width: 50%;
    padding-right: var(--gutter);
    position: relative;
    left: 50%;
  }

  /* separate lists */
  .list + .list {
    margin-top: calc(var(--gutter) * 4);
  }

    .list-items-shell {
      /* overwrite inline heights added via js */
      height: initial !important;
    }

    .list-title {
      padding-top: calc(var(--gutter) * 4);
      margin-bottom: var(--target-area);
    }

      .list-title span::after {
        right: 0;
      }

      .list-items a {
        color: var(--meta-color);
        border-top: 2px solid var(--bg2-color);
        padding-top:    calc(var(--target-area) / 2);
        padding-bottom: calc(var(--target-area) / 2);
        transition: color var(--simple-fade);
        position: relative;
      }

      .list-items a:hover {
        color: var(--text-color);
      }

      .list-items a::before {
        width: 0;
        height: 2px;
        background: linear-gradient(
          to right,
          transparent  0%,
          currentColor 100%
        );
        content: "";
        position: absolute;
        top:   -2px;
        left:  0;
        right: 0;
        transition: width 1000ms cubic-bezier(0.1, 1, 0.15, 1);
      }

        .list-items a:hover::before {
          width: 100%;
        }

      /* list-item urls */
      .list-items a::after {
        color: transparent;
        text-transform: lowercase;
        content: attr(href);
        font-size: 0.6em;
        line-height: 1;
        padding-top: calc(var(--target-area) / 4);
        display: block;
        transition: color var(--simple-fade);
        word-break: break-all;
      }

        .list-items a:hover,
        .list-items a:hover::after {
          color: var(--text-color);
        }
}
