
main {
  /* anchor lists */
  position: relative;
}

  .secondary__nav {
    width: 100%;
    /*background-color: #edfaff;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .list-nav {
    width: 50%;
    /*background-color: #eee;*/
  }

    .nav-item {
      color: var(--level1);
      transition: color 100ms var(--simple-fade);
    }

      .nav-item a {
        display: inline-block;
      }

    /* ADDED VIA JS */
    .current {
      color: var(--accent);
    }

    .to-top {
      width: 25%;
      color: var(--level1);
      border-bottom: 2px solid currentColor;
      padding-top:    var(--target-area);
      padding-bottom: var(--target-area);
      margin-bottom: calc(var(--gutter) * 4);
      display: inline-block;
      transition: color 100ms var(--simple-fade);
    }

      .to-top:hover {
        color: var(--accent);
      }
